.App {
  background: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.alert-info {
  color: #0c5460cf;
  background-color: #d1ecf130;
  border-color: #bee5ebab;
}

.alert-danger {
  color: #721c24cc;
  background-color: #f8d7da5c;
  border-color: #f5c6cb8a;
}

.auth-form {
  position: relative;
  width: 375px;
  display: inline-block;
  background-color: white;
}

.auth-form:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(http://perego-shop.ru/gallery/images/501861_mnogoetazhnye-doma-risunok.jpg);
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.035;
}

.hidden {
  display: none;
}
.main-page {
  width: 100%;
}
.content-wrapper {
  min-height: calc(100% - 150px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.btn-fk {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  min-height: calc(100vh - 251px);
}

.page-header {
  padding: 15px 0;
}

.btn-xxs {
  padding: 0.15rem 0.5rem;
  font-size: .65rem;
  line-height: 1.4;
  border-radius: .15rem;
}

.btn-xs {
  padding: 0.15rem 0.5rem;
  font-size: 0.85rem;
  line-height: 1.4;
  border-radius: .15rem;
}

.breadcrumbs {
  font-size: 12px;
}
