.application-form {
  background-color: white;
  max-width: 900px;
  color: #455A64;
  width: 90%;
  padding: 30px;
  margin: auto;
}

.application-form__header {
  width: 100%;
  border-bottom: 2px solid;
  margin-bottom: 20px;
}

.application-form__title {
  text-align: center;
}

.form-section {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.section__header {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 15px;
}

.section__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  font-size: 1.5rem;
  background: rgba(23, 162, 184, 0.3);
}

.section__alert {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-left: 5px solid;
  padding: 1rem 1rem 1rem 5rem;
  margin: 0;
}

.alert_error {
  color: #F44336;
  background-color: #f4433608;
}

.alert_dark {
  color: #37474f;
  background-color: #37474f08;
}

.alert_info {
  color: #2691a2;
  background-color: #2691a208;
}

.section__alert:before {
  content: "";
  font-family: "FontAwesome";
  display: inline-block;
  position: absolute;
  font-size: 40px;
  left: 25px;
}

.alert_info:before {
  content: "\F05A";
}
.alert_error:before {
  content: "\f057";
}
.alert_dark:before {
  content: "\f071";
}

/* .section__title:before,
.section__title:after {
  content: "";
  display: inline-block;
  width: 120px;
  height: 5px;
  border-bottom: 1px solid;
}

.section__title:before {
  margin-right: 10px;
}

.section__title:after {
  margin-left: 10px;
} */

.profile-form {
  width: 80%;
  display: inline-block;
  padding: 30px;
  max-width: 720px;
  min-width: 320px;
  background-color: white;
}

.profile-form-photo {
  border: 1px solid lightgrey;
  padding: 15px;
  margin: 5px 0;
  height: 250px;
  display: flex;
  align-items: center;
}

.other-value-block .form-group {
  transition: opacity .7s;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.other-value-block.show .form-group {
  opacity: 1;
  height: initial;
}

.field__icon {
  color: #2691a2;
}
