.card-list {
  margin-left: -5px;
  margin-right: -5px;
}

.card-wrapper {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.object__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.object__data-list {
  padding: 10px 15px;
  margin: 0;
  list-style: none;
  width: 100%;
}

.object__data-item {
  color: grey;
  font-size: 12px;
  padding: 2px 7px;
}

.object_name {
  font-size: 16px;
  font-weight: 600;
  color: #37474F;
}
