.employee__filter {
  padding: 20px;
  margin-bottom: 20px;
  background: #f5f5f5;
  border: 1px solid #d3d3d3d1;
}

.employee__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-title {
  color: #37474F;
  font-weight: 600;
}