.employee-data_page {
  max-width: 900px;
  width: 90%;
  padding: 0;
  margin: auto;
}

.profile-data {
  color: #455A64;
  padding: 0;
  display: flex;
  min-height: 625px;
}

.user-profile-data {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  background-color: #268d9f;
  color: white;
}

.user-profile-info {
  width: calc(100% - 300px);
  flex-grow: 1;
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.profile__photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  overflow: hidden;
  padding: 10px;
  background: white;
  margin-bottom: 20px;
}

.profile__photo {
  max-width: 100%;
  max-height: 100%;
}

.profile__user-data-list {
  padding: 20px;
  margin: 0;
  list-style: none;
}

.user-data__item {
  padding: 5px 10px;
}

.user-data_title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

.user-data__icon {
  margin-right: 15px;
}

.profile-block {
  /* color: #37474F; */
  font-size: 14px;
  padding: 20px 35px;
  background-color: white;
}

.block_description {
  width: 100%;  
  min-height: 150px;
  line-height: 20px;
}

.block_skills, .block_equipment {
  width: 49%;
  margin-top: 15px;
  min-width: 200px;
  min-height: 100px;
  font-size: 12px;
  color: white;
  background-color: #455A64;
}

.block_comments {
  width: 100%;
  margin-top: 15px;
}

.profile-block__title {  
  font-size: 18px;
}

.profile-block__text {
  opacity: .8;
  padding: 10px 0;
  margin: 0;
}

/* .bordered-description {
  border: 1px solid lightgrey;
  position: relative;
} */

.user-profile-info__section {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.comments-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
