.page_register {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-layout {
  display: flex;
  align-items: stretch;
  margin: auto;
}

.fieldset {
  z-index: 100;
  position: relative;
}

.form-addon {
  width: 325px;
  position: relative;
  text-align: center;
  padding: 40px 25px;
  background: #17a2b8;
  color: white;
}

.form-addon:before {
  content: "";
  background-image: url(https://images.by.prom.st/45088738_w800_h640_alpinizm.jpg);
  background-size: cover;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.07;
  z-index: 10;
}

.addon__title {
  padding: 5px 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

.form-title {
  font-size: 1.4rem;
}

.addon__text {
  padding: 5px 0;
  font-size: 14px;
}

.btn-app-form {
  width: 230px;
  z-index: 50;
  position: relative;
}
