.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 800;
}

.ReactModal__Content {
  background-color: #fff;
  padding: 30px;
  min-width: 300px;
  position: relative;
  margin: auto;
}

.ReactModal__close-btn {
  position: absolute;
  top: 0;
  background: transparent;
  border: none;
  right: 10px;
  font-size: 24px;
  outline: none !important;
  cursor: pointer;
  opacity: 0.2;
  transition: opacity 0.5s;
}

.ReactModal__Header {
  margin-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.ReactModal__close-btn:hover {
  opacity: 0.5;
}
