.offer-form {
  width: 80%;
  display: inline-block;
  padding: 30px;
  background-color: white;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  height: 2rem;
  padding: 0.275rem .75rem;
  font-size: 0.8rem;
  /* border-color: inherit; */
  color: inherit;
  border-radius: 0;
}

.form-control::placeholder {
  color: #a9a9a980;
  font-size: 90%;
}

.input-group .form-control {
  border-left: none;
}

.input-group-text {
  border-color: inherit;
  color: inherit;
  border-radius: 0;
  background-color: transparent; 
}

.control-label {
  margin-bottom: -3px;
  font-size: 16px;
  font-weight: 600;
}

.multi-file-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid lightgrey;
  background-color: #fff;
  height: 250px;
}

.offer-photo-preview {
  max-height: 150px;
  max-width: 100%;
}

.del-attachment_btn {
  position: absolute;
  top: 100px;
  opacity: 0.7;
}

.multi-file-container .remove-btn {
  position: absolute;
  z-index: 50;
  top: calc(50% - 14px);
  left: calc(50% - 40px);
  opacity: 0.6;
}

.image-gallery-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.image-gallery-thumbnail {
  height: 60px;
  margin-top: 5px;
}

.image-gallery-thumbnail-inner {
  height: 100%;
  padding: 2px;
  border: 1px solid grey;
}

.image-gallery-thumbnail-inner img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

.file-remove-btn {
  display: block;
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.6);
  border-radius: 2px;
  padding: 4px 15px;
  bottom: 5px;
  right: 5px;
}

.file-remove-btn:not(:disabled):not(.disabled):hover,
.file-remove-btn:not(:disabled):not(.disabled):active {
  background-color: rgba(0, 0, 0, 0.75);
  border-color: rgba(0, 0, 0, 0.85);
}

.file-remove-btn:focus, .file-remove-btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(132, 132, 132, 0.5);
}

.image-gallery-left-nav, .image-gallery-right-nav {
  font-size: 2.5em;
  padding: 15px;
}

.multi-file-controls {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.control__header_underlined:after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  border-bottom: 2px solid;
  margin-bottom: 20px;
  margin-top: 10px;
}

.control__title {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 18px;
  font-weight: 600;
  margin: 0 0 3px;
}

.control__subtitle {
  color: #6c757d;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: .25rem;
}

.multi-file__alert {
  font-size: 12px;
  padding: 1rem;
  display: flex;
  margin: 10px 0 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
}

.file-preview-container{
  height: 150px;
  text-align: center;
  padding: 10px;
}

.profile-photo-preview {
  max-height: 100%;
  max-width: 100%;
}

.field {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.field-with-icon {
  padding-left: 37px;
}

.field__icon {
  position: absolute;
  left: 10px;
}
