.footer {
  padding: 20px;
  background-color: #26a8bd;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #262e33 0%, #26a8bd 50%, #427e88 100%);
}

.footer__section {
  color: #eeeeee;
}

.footer__brand {
  font-size: 28px;
  font-weight: 600;
  margin: 0;
}

.brand-slogan {
  font-style: italic;
  margin: 0;
  margin-top: -3px;
  display: block;
  font-size: 14px;
}

.phone {
  letter-spacing: -0.5px;
  font-size: 22px;
  margin: 0;
  padding: 10px 0;
  font-weight: 600;
}

.site-links {
  padding: 10px;
  list-style: none;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 18px;
}

.site-link {
  color: white;
  padding: 5px 10px;
}

.site-link:hover {
  color: #d0d0d0;
}

.icon_link {
  font-size: 28px;
}
