.navbar-light {
  background-color: #26a8bd;
  background-image: radial-gradient(ellipse farthest-corner at right bottom, #262e33 0%, #26a8bd 50%, #427e88 100%);
}

.navbar-brand {
  position: relative;
  justify-content: center;
  align-items: center;
}

.brand__logo {
  position: relative;
  display: inline-block;
  height: 55px;
  padding: 10px;
  border-radius: 50%;
  background: whitesmoke;
  margin: 5px;
}

.brand__name {
  font-size: 28px;
  font-weight: 600;
  color: whitesmoke;
}