.object_card {
  padding: 5px;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 10px;
  border-radius: 0;
  max-width: 275px;
  display: inline-block;
  text-align: left;
}

.object__photo-wrapper {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.object__photo {
  width: 100%;
  height: auto;
}

.image-gallery-content.fullscreen .object__photo-wrapper {
  height: 100vh;
} 

.image-gallery-content.fullscreen .object__photo {
  max-width: 100%;
  max-height: 100%;
  width: auto;
} 


.image-gallery-fullscreen-button::before, Cplay-button::before {
  font-size: 2em;
  padding: 10px 5px;
  text-shadow: 0 1px 1px #1a1a1a;
}

.image-gallery-left-nav, .image-gallery-right-nav {
  font-size: 2em;
  padding: 10px;
}

.image-gallery-swipe {
  height: 100%;
}