.comment {
  padding: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  width: 49%;
  font-size: 12px;
}

.comment__text {
  margin-bottom: 1rem;
}

.comment__published {
  color: #9c9c9c;
}