.employee_card {
  /* width: 235px;
  max-width: 24.5%; */
  padding: 15px;
  align-items: center;
  flex-grow: 1;
  margin-bottom: 10px;
}

.card__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.employee-photo_section {
  height: 85px;
  width: 85px;
  overflow: hidden;
  padding: 5px;
}

.employee__spec {
  color: grey;
  margin-top: -5px;
  font-size: 12px;
}

.employee__phone {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.employee__about {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}

.description-link {
  display: block;
  padding: 0;
  font-size: 13px;
}